# API
APP_URL="https://whatever.com"

# PORT
PORT=XXXX

# RABBITMQ https://customer.cloudamqp.com/
AMQP_URL="amqps://whatever:awTcePgeWSdycZjBIPUskPNUjVz__YHo@whatever.rmq.cloudamqp.com/whatever"

# DB
MONGODB_URI="mongodb://127.0.0.1:27017/dbName"
